$color_primary: #FDC921; //#14e7d7;
.iconotitulotexto {
    // grid-column: center-start / center-end; // DESBOARADMIENTO y no RESPETA GRID PADRE
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 1rem;
    justify-items: center;
  
    &__imagen {
      height: 8rem;
      width: auto;
      background-color: transparent;
      overflow: hidden;
      transition: all .7s ease-in-out;
      &:hover {
        box-shadow: 0px 0px .4rem .4rem $color_primary;
        filter: grayscale(93%);      
        transform: scale(1.3);
    }
    }
  }
  