@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

$color_white: #fff;
$color_grey_light_2: #aaa;
$bp_small: 37.5em; //600/16
$bp_large_2: 68.75em; //1100px/16
$bp_large: 62.5em; //1000px/16
$bp_medium_2: 56.25em; //900px/16
$bp_medium: 50em; //800/16
$bp_small_2: 31.25em; //500/16
$bp_small_3: 25em; //400/16
$bp-mini: 22.5em; //360/16
$color_grey_dark_1: #3C3C3B;
$color_grey_dark_2: #0C1726;
$font_primary: "IBM+Plex+Sans", sans-serif;
$color_secondary_dark: #617af5;
$color_secondary: #0075C9;

.footer {
  // background-color: $color-grey-light-3;

  // background: conic-gradient(white, black);
  background-image: radial-gradient(
    ellipse farthest-corner at 4.5rem 3rem,
    $color_white 40%,
    rgba(0, 255, 0, 0) 10%,
    $color_grey_light_2 50%,
    $color_grey_light_2 10%,
    $color_grey_light_2 30%
  );
  // background: repeating-radial-gradient(
  //     circle,
  //     hsl(190, 80%, 70%, 0.2) 0px 35px,
  //     transparent 35px 70px
  //   ),
  //   radial-gradient(at top right, hsl(150, 70%, 50%, 1), hsl(200, 80%, 40%, 0)),
  //   radial-gradient(circle at 0% 50%, hsl(300, 75%, 40%), hsl(200, 90%, 30%, 0)),
  //   radial-gradient(
  //     circle at bottom center,
  //     hsl(30, 70%, 70%, 1),
  //     hsl(30, 70%, 70%, 0)
  //   );

  grid-column: full-start / full-end;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @media only screen and (max-width: $bp_small) {
    flex-direction: column;
  }

  //grid-template-columns: repeat(2, minmax(min-content, 1fr));
  //grid-template-columns: repeat(2, minmax(0.5fr, 1.5fr));
  //grid-template-columns: 0.5fr, 1.5fr;
  //grid-gap: 3rem;
}
.saltolinea {
  display: flex;
  flex-direction: column;
}

.logobox {
  margin-right: 1rem;
  @media only screen and (max-width: $bp_small) {
    text-align: center;
  }
  &__logohead {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;    
    width: 18rem;
    padding-top: 2rem;
  }
  &__logo-sm {
    // position: relative;
    width: 10rem;
    height: 10rem;
  }
  &__logo-min {
    // position: relative;
    width: 6rem;
    height: auto;
  }
  &__logobig {
    position: relative;
    width: 10rem;
    left: 0;
  }
  &__logohuge {
    position: relative;
    width: 15rem;
    left: 0;
    //z-index: 1999;
  }
  &__logo {
    position: relative;
    width: 9rem;
    left: 0;

    &--big {
      width: 24rem;
    }
    &--mini {
      width: 3rem;
      font-size: 1.4rem;
    }
    &--app {
      width: 8rem;
    }
    //z-index: 3001 !important;
    @media only screen and (max-width: $bp_large_2) {
      //1100
      text-align: center;
      width: 24rem;
    }
    @media only screen and (max-width: $bp_large) {
      //1000
      text-align: center;
      width: 22rem;
    }
    @media only screen and (max-width: $bp_medium_2) {
      text-align: center;
      width: 18rem;
    }
    @media only screen and (max-width: $bp_medium) {
      text-align: center;
      width: 17rem;
    }
    @media only screen and (max-width: $bp_small) {
      text-align: center;
      width: 16rem;
    }
    @media only screen and (max-width: $bp_small_2) {
      text-align: center;
      width: 14rem;
    }
    @media only screen and (max-width: $bp_small_3) {
      text-align: center;
      width: 12rem;
    }
    @media only screen and (max-width: $bp_mini) {
      text-align: center;
      width: 10rem;
    }
    height: auto;
  }
  &__logoift {
    width: auto;
    height: 10rem;
    margin-left: 5rem;
  }
  &__text {
    @media only screen and (max-width: $bp_small) {
      text-align: center;
      font-size: 1rem;
    }
    font-size: 1.4rem;
    color: $color_grey_dark_1;
    font-weight: 400;
  }
  &__copy {
    @media only screen and (max-width: $bp_small) {
      text-align: center;
      font-size: 1rem;
    }
    font-size: 1.2rem;
    list-style: none;
    border-style: none;
    text-decoration: none;
    color: $color_grey_dark_1;
    font-weight: 300;
  }
}
.nav-box {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);

  grid-gap: 2rem;
  //justify-content: end;
  justify-items: stretch;

  align-items: center;
  grid-auto-rows: min-content;
  grid-auto-flow: dense;
}
.nav-box2 {
  display: grid;
  grid-template-columns: 1fr min-content;
  color: $color_grey_dark_2;
  @media only screen and (max-width: $bp-mini) {
    grid-template-columns: 1fr;
    //grid-template-rows: repeat(4, min-content);
  }
  grid-column-gap: 5rem;
  justify-items: stretch;
  justify-self: stretch;

  //flex-direction: row;
  //justify-content: space-around;
  &__divider-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 0.5rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color_grey_dark_2;

    &::after,
    &::before {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }
}

.navfoot {
  @include reset-list;
  //grid-row: 1/;
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 1rem;
  @media only screen and (max-width: $bp_small) {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    grid-column-gap: 0.5rem;
  }
  //grid-template-columns: 1fr;

  align-items: center;
  &__item {
    //background-color: currentColor;

    color: $color_grey_dark_1;
  }
  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: $color_grey_dark_1;
    font-family: $font_primary;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 200;
    display: block;
    text-align: center;
    padding: 1rem;
    transition: all 0.2s;
  }
  &__link:active,
  &__link:hover {
    background-color: rgba($color: $color_secondary_dark, $alpha: 0.1);
    transform: translateY(-0.5rem);
    font-weight: 500;
  }
}

.redesociales0 {
  flex-grow: 0;
  font-size: 1.4rem;
  align-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 0 1 auto;
  &__icon {
    height: 2.5rem;
    width: auto;
    align-self: flex-end;
    transition: all 0.2s;
    cursor: pointer;
  }
  &__icon:hover {
    fill: $color_secondary;
    transform: translateY(-0.5rem);
  }
}
.redesociales {
  flex: 0;

  //position: relative;
  display: grid;
  //justify-content: end;
  grid-template-columns: repeat(5, minmax(3rem, 1fr));
  grid-column-gap: 1.5rem;
  justify-items: center;
  align-items: center;

  &__link {
    height: 3rem;
    width: 3rem;
    list-style: none;
    border-style: none;
    text-decoration: none;

    transition: all 0.2s;
    cursor: pointer;
  }

  &__icon {
    //position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    //width: auto;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      fill: $color_secondary;
      transform: translateY(-0.5rem);
    }
  }
}
