$bp-medium: 50em; //800/16
$bp-largest: 75em; //1200px
$bp-large-2: 68.75em; //1100px/16
$bp-small: 37.5em; //600/16
$color-primary: #FDC921; //#14e7d7;
$bp-large: 62.5em; //1000px/16
$bp-mediumenu: 43.75em; //700/16
$bp-small-2: 31.25em; //500/16

@mixin color-menu($color) {
  color: $color;
}

.menav {
  z-index: 1000;
  top: 1px;
  padding-top: 2rem;
  padding-right: 3rem;
  grid-column: full-start / full-end;
  grid-row: 1 / span 1;
  position: fixed;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: min-content 1fr;
  }
  grid-column-gap: 8rem;
  grid-auto-flow: row;
  grid-auto-rows: 5rem;
  grid-gap: 2rem;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Oswald:500");
.back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://pp.userapi.com/c841122/v841122831/327e/nHt-92F6yc4.jpg)
    no-repeat top center #efeff1;
  background-size: cover;
}

.navegator {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

  list-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-columns: repeat(6, 12rem);
  grid-column-gap: 1rem;
  @media only screen and (max-width: $bp-large-2) {
    // 1100
    grid-template-columns: repeat(6, 11rem);
  }
  @media only screen and (max-width: $bp-medium) {
    // 800
    grid-template-columns: repeat(6, 9rem);
    grid-column-gap: 0.5rem;
  }
  @media only screen and (max-width: $bp-small) {
    display: none;
    overflow: hidden;
  }

  text-align: center;
  &__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__item {
    //background-color: currentColor;
    @include color-menu($color-primary);
    font-weight: 500;
  }
  &__a {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #16151b;
    margin: 0 1.5rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2.5px;
      background: red;
      bottom: -7%;
      animation: out 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
    }
    &:hover:before {
      animation: in 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
    }

    @media only screen and (max-width: $bp-large-2) {
      // 1100
      font-size: 1.5rem;
      margin: 0 1.4rem;
    }
    @media only screen and (max-width: $bp-large) {
      // 1100
      font-size: 1.4rem;
      margin: 0 1.3rem;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.3rem;
      margin: 0 1.2rem;
    }
    &__notshow {
      @media only screen and (max-width: $bp-small) {
        display: none;
        overflow: hidden;
      }
    }
    &__notshow2 {
      @media only screen and (max-width: $bp-medium) {
        display: none;
        overflow: hidden;
      }
    }
    &__notshow3 {
      @media only screen and (max-width: $bp-mediumenu) {
        display: none;
        overflow: hidden;
      }
    }
    &__notshowmini {
      @media only screen and (max-width: $bp-small-2) {
        display: none;
        overflow: hidden;
      }
    }
  }
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// @for $i from 1 through 5 {
//   nav a:nth-child(#{$i}) {
//     animation: show 0.2s #{$i * 0.1+1}s ease 1 both;
//   }
// }
