.alcancetext {
    grid-column: center-start/center-end;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  
  .alcancecomp {
    grid-column: full-start/full-end;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    height: 50rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: $bp-medium) {
      height: 35rem;
    }
    @media only screen and (max-width: $bp-small) {
      height: 30rem;
    }
    @media only screen and (max-width: $bp-small-2) {
      height: 25rem;
    }
    @media only screen and (max-width: $bp-small-3) {
      height: 22rem;
    }
    @media only screen and (max-width: $bp-mini) {
      height: 20rem;
    }
  }
  .alcancecomp2 {
    grid-column: full-start/full-end;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    height: 50rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    @media only screen and (max-width: $bp-medium) {
      height: 35rem;
    }
    @media only screen and (max-width: $bp-small) {
      height: 30rem;
    }
    @media only screen and (max-width: $bp-small-2) {
      height: 25rem;
    }
    @media only screen and (max-width: $bp-small-3) {
      height: 22rem;
    }
    @media only screen and (max-width: $bp-mini) {
      height: 20rem;
    }
  }
  .textpage {
    grid-column: center-start/center-end;
    display: flex;
    flex-direction: column;
  }
  
  .navigation {
    display: none;
    overflow: hidden;
    @media only screen and (max-width: $bp-medium) {
      display: inline-block;
      overflow-x: hidden;
      // float: left;
      box-sizing: border-box;
      // width: 100%;
      max-width: 100%;
    }
    &__checkbox {
      display: none;
    }
  
    &__button {
      @media only screen and (max-width: $bp-medium) {
        background-color: $color-white;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 2.8rem;
        right: 2rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        text-align: center;
        cursor: pointer;
      }
  
      @media only screen and (max-width: $bp-small) {
        top: 2.8rem;
        right: 1.4rem;
      }
      @media only screen and (max-width: $bp-small-2) {
        top: 2.8rem;
        right: 1.2rem;
      }
      @media only screen and (max-width: $bp-small-3) {
        top: 2.8rem;
        right: 1rem;
      }
      @media only screen and (max-width: $bp-mini) {
        top: 2.8rem;
        right: 0.7rem;
      }
    }
    &__background {
      position: fixed;
      right: 2.2rem;
      top: 3.1rem;
      background-image: radial-gradient($color-white, $color-grey-light-11);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }
  
    &__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: -15rem;
      z-index: 1500;
      opacity: 1;
      display: block;
      overflow: auto;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
    }
    &__item {
      margin: 1rem;
    }
    &__link {
      &:link,
      &:visited {
        font-size: 3rem;
        padding: 1rem 2rem;
        font-weight: 200;
        color: $color-white;
        text-decoration: wavy;
        text-transform: uppercase;
        display: flex;
        overflow: visible;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-tertiary 75%
        );
        background-size: 100%;
        transition: all 0.9s;
        span {
          margin-right: 1rem;
          display: inline-block;
        }
      }
      &:hover,
      &:active {
        // Linea que se mueve
        background-position: 100%;
        color: $color-white;
        transform: translateX(3rem);
      }
    }
    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
      transform: scale(240);
    }
    &__checkbox2:checked ~ &__background2 {
      transform: scale(0);
    }
    &__checkbox:checked ~ &__nav {
      opacity: 1;
      width: 120%;
    }
    //ICON
    &__icon {
      position: relative;
      margin-top: 2.1rem;
      &,
      &::before,
      &::after {
        width: 2.2rem;
        height: 2px;
        background-color: $color-primary;
        display: inline-block;
      }
  
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.3s;
      }
  
      &::before {
        top: -0.7rem;
      }
      &::after {
        top: 0.7rem;
      }
    }
    &__button:hover &__icon::before {
      top: -0.8rem;
    }
    &__button:hover &__icon::after {
      top: 0.8rem;
    }
    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
  