$font-primary: "IBM+Plex+Sans", sans-serif;
  $font-secondary: "Courgette", cursive;
  //$font-display:'Montserrat', sans-serif;

  // COLOR VARIABLES
  $color-primary: #FDC921; //#14e7d7;
  $color-primary-dark: #FDC921; // #45b8b0;

  $color-secondary: #0075C9;
  // $color-secondary-dark: #ffbbbc; // #45b8b0;
  $color-secondary-dark: #617af5;

  $color-tertiary: #617af5;
  $color-tertiary-dark: #1b35b8;

  $color-cuartiary: #14e7d7;
  $color-cuartiary-dark: #45b8b0;

  $color-alternative: #d3e9ef;

  $color-grey-light-1: #393d42; // #f9fafb;
  $color-grey-light-11: #f9fafb;
  $color-grey-light-2: #aaa;
  $color-grey-light-5: #dff;
  $color-grey-light-3: #ddd;
  $color-grey-light-4: #ccc;

  $color-grey-dark-1: #3C3C3B;
  $color-grey-dark-2: #0C1726;

  $color-black-light: #666;
  $color-black-dark: #333;
  $color-grey-panel: #f3f7ff;

  $color-black: #000;
  $color-white: #fff;
  $color-green: #00e676;

  $default-font-size: 1.6rem;
  $default-font-size-sm: 1.3rem;
  $default-font-size-md: 1.8rem;
  $default-font-size-bg: 2rem;

  // MEDIA QUERYS
  $bp-hugest: 218.75em; //3500px
  $bp-huge: 150em; //2400px
  $bp-bigest: 112.5em; //1800px
  $bp-big: 93.75em; //1500px
  $bp-largest: 75em; //1200px
  $bp-large-2: 68.75em; //1100px/16
  $bp-large: 62.5em; //1000px/16
  $bp-medium-2: 56.25em; //900px/16
  $bp-medium: 50em; //800/16
  $bp-mediumenu: 43.75em; //700/16
  $bp-small: 37.5em; //600/16
  $bp-small-2: 31.25em; //500/16
  $bp-small-3: 25em; //400/16
  $bp-mini: 22.5em; //360/16