@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

// $font_primary: "IBM+Plex+Sans", sans-serif;
// $font_secondary: var(--font-skranji), system-ui;
$font_primary: var(--font-ibmsans), sans-serif;
$font_secondary: var(--font-koulen), sans-serif;

// $font_secondary: "Courgette", cursive;
$color_grey_light_1: #3C3C3B; // #f9fafb;
$color_secondary: #0075C9;
$color_grey_dark_1: #0C1726;
$color_black: #000000;
$color_secondary_dark: #617af5;
$bp_medium: 50em; //800/16
$bp_small: 37.5em; //600/16
$bp_cell: 31.25em; //500/16
$bp_mini: 25.0em; //400/16
$color_primary_dark: #FDC921; // #45b8b0;
$color_primary: #FDC921; //#14e7d7;
$default_font_size: 1.6rem;
$color_grey_light_2: #aaa;
$default_font_size_md: 1.8rem;

%heading {
  font-family: $font_primary;
  font-weight: 300;
}
%headingneg {
  font-family: $font_primary;
  font-weight: 600;
}
%headingthin {
  font-family: $font_primary;
  font-weight: 100;
}
%headingtit {
  font-family: $font_primary;
  font-weight: 700;
}

%headingspe {
  font-family: $font_secondary;
  font-weight: 400;
}

%headingspe2 {
  font-family: $font_primary;
  font-weight: 400;
}

.heading1 {
  @extend %heading;
  color: $color_grey_light_1;
  font-size: 5rem;
  font-style: normal;
  &--highlight {
    color: $color_secondary;
    font-weight: 700;
  }
}

.heading2_card{
  word-wrap: normal;
  @extend %headingtit;
  font-size: 2rem;
  line-height: 1.2;  
  color: $color_grey_dark_1;
  font-weight: 400;
  text-align: center;
}

.heading2 {
  word-wrap: normal;
  @extend %headingtit;
  font-size: 4rem;
  line-height: 1.2;  
  color: $color_grey_dark_1;
  font-weight: 400;
  text-align: left;
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 500;
    font-size: 3.3rem;
    @media only screen and (max-width: $bp_medium) {
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp_small) {
      font-size: 2.5rem;
    }
  }
  &--highlight-link {
    color: $color_secondary_dark;
    font-weight: 700;
    font-size: 3.4rem;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &--light {
    color: $color_grey_light_1;
    font-weight: 500;
    font-size: 3rem;
  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.heading2_5 {
  @extend %headingtit;
  font-size: 3.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $color_grey_dark_1;
  text-align: center;
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 500;
    font-size: 3.3rem;
    @media only screen and (max-width: $bp_medium) {
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp_small) {
      font-size: 2.5rem;
    }
  }
}

.heading3_card{
  @extend %heading;
  font-size: 2rem;
  color: $color_grey_dark_1;
  font-weight: 200;
  text-align: center
}

.heading3 {
  @extend %heading;
  font-size: 2.8rem;
  color: $color_grey_dark_1;
  text-transform: uppercase;
  font-weight: 200;
  &--mini {
    font-size: 2.1rem;
    color: $color_grey_dark_1;
    text-transform: none;
    font-weight: 500;
    text-align: center;
  }
  &--secondary {
    color: $color_secondary;
  }
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 400;
    font-size: 2.4rem;
  }
}

.subtitle2_5 {
  @extend %heading;
  display: inline;
  font-size: 4.3rem;
  color: $color_grey_dark_1;
  text-transform: none;
  font-weight: 100;
  &--mini {
    font-size: 2.1rem;
    color: $color_grey_dark_1;
    text-transform: none;
    font-weight: 500;
    text-align: center;
  }
  &--secondary {
    color: $color_secondary;
  }
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 400;
    font-size: 2.4rem;
  }
}

.subtitle_project{
  display: block;
  //font-size: 1.8rem;
  font-size: 2rem;
  color: $color_primary;
  text-transform: none;
  font-weight: 600;

  transition: all 0.75s;
    &:hover {      
      transform: translateY(-2rem);
    }
  //text-align: center;
}
.subtitleslider {  
  display: block;
  font-size: 4.2rem;
  color: $color_primary;
  text-transform: none;
  font-weight: 700;
  line-height: normal;

  &--mini {
    font-size: 2.1rem;
    color: $color_primary;
    text-transform: none;
    font-weight: 500;
    text-align: center;
  }
  &--secondary {
    color: $color_primary_dark;
  }
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 400;
    font-size: 2.4rem;
  }
}

.subtitle {  
  display: block;
  font-size: 3.8rem;
  color: $color_primary;
  text-transform: none;
  font-weight: 600;
  line-height: normal;

  &--mini {
    font-size: 2.1rem;
    color: $color_primary;
    text-transform: none;
    font-weight: 500;
    text-align: center;
  }
  &--secondary {
    color: $color_primary_dark;
  }
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 400;
    font-size: 2.4rem;
  }
}
.subtitle_thin {
  @extend %headingthin;
  display: block;
  font-size: 3.8rem;
  color: $color_primary;
  text-transform: none;
  font-weight: 100;
  line-height: normal;
  &--mini {
    font-size: 2.1rem;
    color: $color_grey_dark_1;
    text-transform: none;
    font-weight: 500;
    text-align: center;
  }
  &--secondary {
    color: $color_secondary;
  }
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 400;
    font-size: 2.4rem;
  }
}
.headingspecial2 {
  @extend %headingspe;
  color: $color_secondary;
  text-transform: none;
  // color: $color_primary_dark;
  text-align: left;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.2; 
  letter-spacing: 3px;
}
.headingspecial {
  @extend %headingspe;
  color: $color_secondary;
  text-transform: none;
  // color: $color_secondary_dark;
  text-align: left;
  font-weight: 400;
  font-size: 2.6rem;
}
.tabYellow {  
  @extend %headingspe;
  font-size: 1.8rem;
  color: $color_primary;
  text-transform: none;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
}
.tabBlue {
  @extend %headingspe;
  color: $color_secondary;
  text-transform: none;
  // color: $color_secondary_dark;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.7rem;
}

.heading4_center {
  @extend %heading;
  font-size: 1.9rem;
  text-align: center;
  color: $color_grey_dark_1;
  &--light {
    color: $color_grey_light_1;
  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.heading4 {
  @extend %heading;
  font-size: 1.9rem;
  text-align: justify;
  color: $color_grey_dark_1;
  
  &--light {
    color: $color_grey_light_1;
  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.nameReview {
  @extend %heading;
  font-size: 1.2rem;
  text-align: justify;
  color: $color_grey_dark_1;
  
  &--light {
    color: $color_grey_light_1;
  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.review {
  @extend %heading;
  font-size: 1.9rem;
  text-align: justify;
  color: $color_grey_dark_1;
  font-style: italic;
  
  &--light {
    color: $color_grey_light_1;
  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.heading5 {
  @extend %headingneg;  
  font-size: 2.2rem;
  text-align: justify;
  color: $color_grey_dark_1;  
  &__light {
    color: $color_primary;
    display: inline-block;

  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.subtitlespecial {
  @extend %headingneg;  
  font-size: 2.4rem;
  text-decoration: blink;
  text-align: justify;
  color: $color_black;
  @media only screen and (max-width: $bp_small) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $bp_cell) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: $bp_mini) {
    font-size: 1.6rem;
  }
  &__light {
    color: $color_primary;
    display: inline-block;
    
  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.subtitlespecial_yellow {
  @extend %heading;
  font-weight: 300;
  font-size: 2.2rem;
  text-align: justify;
  color: $color_primary;
  @media only screen and (max-width: $bp_small) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $bp_cell) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: $bp_mini) {
    font-size: 1.6rem;
  }
  &__light {
    color: $color_primary;
    display: inline-block;
    
  }
  &--dark {
    color: $color_grey_dark_1;
  }
}

.titlespecial {  
  display: block;
  font-size: 4.2rem;
  color: $color_primary;
  text-transform: none;
  font-weight: 700;
  line-height: normal;
  @media only screen and (max-width: $bp_small) {
    font-size: 3rem;
    font-weight: 600;
  }
  @media only screen and (max-width: $bp_cell) {
    font-size: 2.4rem;
    font-weight: 500;
  }
  @media only screen and (max-width: $bp_mini) {
    font-size: 2.2rem;
    font-weight: 400;
  }
  &--mini {
    font-size: 2.1rem;
    color: $color_primary;
    text-transform: none;
    font-weight: 500;
    text-align: center;
  }
  &--secondary {
    color: $color_primary_dark;
  }
  &--highlight {
    color: $color_secondary_dark;
    font-weight: 400;
    font-size: 2.4rem;
  }
}

.paragraph {
  transition: all 0.2s;
  font-size: $default-font-size;
  color: $color_grey_dark_1;
  //position: relative;
  text-align: justify;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__columns  {
    p {
      font-size: 1.5rem;
      font-weight: 300;
      color: currentColor;
    }
    &--text {
      font-weight: 400;
      text-decoration: none;
      color: currentColor;
      margin-bottom: 2rem;
      column-count: 3;
      column-gap: 4rem;
      column-rule: 1px solid $color-grey-light-2;
      hyphens: auto;
    }
  }

  &__normal {
    p {
      font-size: 1.5rem;
      font-weight: 300;
      color: $color_grey_dark_1;
    }
    &--icon {
      fill: $color_primary;
      height: 2.6rem;
      width: 2.6rem;
      margin-right: 1rem;
    }
    &--text {
      font-size: 1.6rem;
      font-weight: 300;
      text-decoration: none;
      text-align: center;
      color: $color_grey_dark_1;
      margin-top: -2rem;
    }
  }

  &__list {
    p {//____font_size: $default_font_size_md;
      font-weight: 300;
      color: currentColor;
      font-size: $default_font_size_md;
    }
    &--phone {
      display: flex;
      flex-direction: row;
      font-size: 1.3rem;
      &--tab {
        margin-left: 1.5rem;
      }
    }

    &--icon {
      fill: $color_primary;
      height: 2.6rem;
      width: 2.6rem;
      margin-right: 1rem;
      &--tab {
        margin-left: 1.5rem;
      }
    }

    &--iconmenu {
      fill: $color_secondary;
      height: 4rem;
      width: 4rem;
      margin-right: 1rem;
    }
    &--text {
      font-weight: 400;
      text-decoration: none;
      color: $color_primary;
      transition: all 0.2s;
      &:hover {
        transform: translateX(1rem) scale(1.1);
      }
      &--tab {
        margin-left: 1.5rem;
      }
    }
  }
}
.asinstyle {
  list-style: none;
  border-style: none;
  text-decoration: none;
}
.apersonalizado {
  color: $color_grey_dark_1;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s;
  list-style: none;
  border-style: none;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1) translateY(-0.2rem);
    color: $color_secondary_dark;
  }
}

.apersonalizadover {
  color: $color_grey_dark_1;
  font-size: 1.2rem;
  font-weight: 900;
  transition: all 0.2s;
  list-style: none;
  border-style: none;
  text-decoration: none;
  transform: rotate(270deg);
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
    transform: rotate(273deg);
    color: $color_secondary_dark;
  }
  &--centrado {
    text-align: center;
    justify-self: center;
  }
}
