.u_center_text {
  text-align: center !important;
}
.u_margin_bottom_sm {
  margin-bottom: 2rem !important;
}
.u_margin_bottom_md {
  margin-bottom: 4rem !important;
}
.u_margin_bottom_bg {
  margin-bottom: 8rem !important;
}
.u_margin_bottom_bg_ {
  margin-bottom: -8rem !important;  
}

.u_margin_bottom_lg {
  margin-bottom: 10rem !important;
}

.u_margin_top_sm {
  margin-top: 2rem !important;
}
.u_margin_top_md {
  margin-top: 4rem !important;
}
.u_margin_top_md2 {
  margin-top: 6rem !important;
}

.u_margin_top_bg {
  margin-top: 8rem !important;
}
.u_margin_top_hg {
  margin-top: 10rem !important;
}

.u_margin_top_md_ {
  margin-bottom: -.6rem !important;  
}

.u_margin_top_lg {
  margin-top: 10rem !important;
}
